
/*
@font-face {
    font-family: 'Linux_Libertine_Regular';
    src: url("https://github.com/ana-sifuentes/superfoods_chia/blob/main/LinLibertine_R.ttf") format('truetype');
    font-style: normal;
}
*/


@font-face {
    font-family:'VCR_OSD';
    src: url("https://github.com/ana-sifuentes/superfoods_chia/blob/main/VCR_OSD_MONO_1.001.ttf") format('truetype');
    font-style: normal;
}




* {
    padding:0;
    margin:0;
}


#game{
    width:500px;
    height:200px;
    border:1px solid black;
}

#character{
    width:20px;
    height:50px;
    background-color:red;
    position:relative;
    top:150px;
    background-image: url("https://github.com/ana-sifuentes/superfood_story/blob/main/assets/chia_seed.png");
}

.animate_jump{
       animation: jump 500ms; 
}

@keyframes jump{
    0%{top:150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top:150px;}
}

#block{
    width:20px;
    height:20px;
    background-color:blue;
    position:relative;
    top:130px;
    left:480px;
    animation: block 1s infinite linear;
}


@keyframes block{
    0%{left: 480px;}
    100%{left:-40px;}
}


body {
  font-family:'VCR_OSD';
  background-color: white;
}


h2{
    font-family:'VCR_OSD';
}



