

@font-face {
    font-family: 'Linux_Libertine_Regular';
    src: url("https://github.com/ana-sifuentes/superfoods_chia/blob/main/LinLibertine_R.ttf") format('truetype');
    font-style: normal;
}



body {
  font-family: 'Linux_Libertine_Regular', Fallback, sans-serif;
  background-color: pink;
}


h2{
      font-family: 'Linux_Libertine_Regular';
}

