
/*
@font-face {
    font-family: 'Linux_Libertine_Regular';
    src: url("https://github.com/ana-sifuentes/superfoods_chia/blob/main/LinLibertine_R.ttf") format('truetype');
    font-style: normal;
}
*/


@font-face {
    font-family:'VCR_OSD';
    src: url("VCR_OSD_MONO_1.001.ttf") format('truetype');
    font-style: normal;
}

* {
    padding:0;
    margin:0;
}


#game{
    width:1000px;
    height:500px;
    border:1px solid black;
}

#character{
    width:82px;
    height:98px;
    position:relative;
    top:402px;
    background-image: url("assets/chia_seed.png");
}

.animate{
       animation: jump 500ms; 
}

@keyframes jump{
    0%{top:402px;}
    30%{top:300px;}
    70%{top:300px;}
    100%{top:402px;}
}

#block{
    width:40px;
    height:20px;
    background-color:blue;
    position:relative;
    top:380px;
    left:980px;
    animation: block 2s infinite linear;
}


@keyframes block{
    0%{left: 980px;}
    100%{left:-40px;}
}


body {
  font-family:'VCR_OSD';
  background-color: white;
}


h2{
    font-family:'VCR_OSD';
}



